.gamepad-button {
    background-color: #555;
    display: inline-block;
    min-width: 32px;
    /* height: 16px; */
    text-align: center;
}

select.gamepad-button-binding {
    background-color: #555;
    color: #eee;
    max-width: 4em;
}

select.gamepad-button-binding > option {
    text-align: center
}
